* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--branco);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#imgassets {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

#imgassets img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.parent {
    display: flex;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#pngerro {
    width: 120px;
    height: 120px;
}

h2 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: var(--cinza-mediano);
}

.p-payment-error {
    font-weight: lighter;
    font-size: 25px;
    color: var(--azul-2)
}

.btn {
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 400px;
    height: 60px;
    font-size: 20px;
}

.btn-azul-2 {
    background-color: var(--azul-2);
    color: var(--branco);
}

.btn-azul-2:hover {
    background-color: var(--azul-2-hover);
    transition: 0.5s;
}

.btn300x80 {
    width: 300px;
    height: 80px;
    font-size: 32px;
}

.margin {
    margin-top: 50px;
}