body {
    background-color: var(--branco);
}

*{
    margin: 0;
    padding: 0;
}

/* Imagem da esquerda */
#imgesqueci {
    float: left;
    width: 50%;
}

/* Parte da direita */
.container {
    margin-top: 252px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

/* Esqueci a senha */
h2 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 10px;
}

/* Digite seu e-mail... */
p {
    font-size: 16px;
    color: var(--cinza-mediano);
}

/* Input */
input[type=email] {
    background-color: #FEFEFE;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--cinza-escuro);
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    width: 403px;
    height: 60px;
    text-decoration: none;
}

::placeholder {
    color: var(--cinza-mediano);
    font-weight: lighter;
}

/* Lembrou a senha? */
#entrar {
    font-weight: bold;
    font-size: 16px;
    color: var(--azul-2);
    text-decoration: none;
}

#entrar:hover {
    text-decoration: underline;
}

/* Botão enviar */
#submit {
    background-color: var(--azul-2);
    border: none;
    border-radius: 15px;
    color: var(--branco);
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    width: 399px;
    height: 60px;
    text-align: center;
    text-decoration: none;
}

#submit:hover {
    background-color: transparent;
    border: 1px solid var(--azul-2);
    color: var(--azul-2);
    transition: 0.5s;
}

/* Margem */
.margin {
    margin-top: 50px;
}