body {
    background-color: var(--branco);
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

/* Imagem da esquerda */
#imgassets {
    float: left;
}

/* Parte da direita */
.parent {
    height: 831px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: inherit;
}

/* Png erro [Payment error] */
#pngerro {
    width: 120px;
    height: 120px;
}

/* H2 [texto] */
h2 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 10px;
}

/* P [texto] */
p {
    font-size: 16px;
    color: var(--cinza-mediano);
}

.p-payment-error {
    font-weight: lighter;
    font-size: 25px;
    color: var(--azul-2)
}

/* Input */
input {
    background-color: #FEFEFE;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--cinza-escuro);
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    width: 400px;
    height: 60px;
    text-decoration: none;
}

::placeholder {
    color: var(--cinza-mediano);
    font-weight: lighter;
}

.inputs {
    margin-bottom: 10px;
}

.input-register2 {
    width: 610px;
}

.input-login {
    width: 340px;
}

/* Ícones [Login] */
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    background: var(--azul-1);
    border-radius: 5px;
    color: var(--branco);
    text-align: center;
    padding: 20px;
    width: 60px;
    height: 60px;
    font-size: 20px;
}

/* [Texto depois dos inputs] */
#link {
    font-weight: bold;
    font-size: 16px;
    color: var(--azul-2);
    text-decoration: none;
}

#link:hover {
    text-decoration: underline;
}

/* Botões */
.btn {
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 400px;
    height: 60px;
    font-size: 20px;
}

.btn:hover {
    font-size: 22px;
    transition: 0.2s;
}

.btn300x80 {
    width: 300px;
    height: 80px;
    font-size: 32px;
}

.btn200 {
    width: 200px;
    border-radius: 5px;
}

.btn-escuro {
    background-color: var(--azul-2);
    color: var(--branco);
}

.btn-claro {
    background-color: var(--azul-1);
    color: var(--branco);
}

.btn-border {
    background-color: transparent;
    border: 2px solid var(--azul-2);
    color: var(--azul-2);
}

.btn-red {
    background-color: var(--vermelho);
    color: var(--branco);
}

.btn-transp:hover {
    background-color: transparent;
    border: 1px solid var(--azul-2);
    color: var(--azul-2);
    transition: 0.5s;
}

.btn-margin {
    margin-top: 20px;
}

/* Margem */
.margin {
    margin-top: 50px;
}

/* ----------------------------------------------- */

/* New Plan Page */

.container-newplan {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    height: 1200px;
    gap: 200px;
}

.arrow {
    color: var(--azul-2);
    font-size: 45px;
}

.h2-newplan {
    margin-bottom: 30px;
}

.p-newplan {
    margin-top: 20px;
}

.input-newplan {
    width: 900px;
}

.input-descricao {
    height: 150px;
}

.margin-newplan {
    margin-top: 30px;
}