#container-nav{
    background-color: var(--azul-2);
    color: var(--cinza-claro);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 3rem;
}

#container-nav>div{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.active{
    color: var(--cinza-claro);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    transition: border-bottom 0.1s ease; 
    border-bottom: 0 solid var(--cinza-claro);
    padding-bottom: 0.063rem;
}

.active:hover{
    border-bottom: 0.063rem solid var(--cinza-claro);
}