body {
    background-color: var(--branco);
}

*{
    margin: 0;
    padding: 0;
}

/* Imagem da esquerda */
#imgecadas2 {
    float: left;
    width: 50%;
}

/* Parte da direita */
.container {
    margin-top: 252px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

/* Cadastro [texto] */
h2 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 10px;
}

/* Cadastre e comece a... */
p {
    font-size: 16px;
    color: var(--cinza-mediano);
}

/* Input */
input {
    background-color: #FEFEFE;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--cinza-escuro);
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    width: 609px;
    height: 60px;
    text-decoration: none;
}

::placeholder {
    color: var(--cinza-mediano);
    font-weight: lighter;
}

.inputs {
    margin-bottom: 10px;
}

/* Botões */
.btn {
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 399px;
    height: 60px;
}

#next {
    background-color: var(--azul-2);
    color: var(--branco);
}

#return {
    margin-top: 20px;
    border: 2px solid var(--azul-2);
    color: var(--azul-2);
}

.btn:hover {
    font-size: 22px;
    transition: 0.2s;
}

/* Margem */
.margin {
    margin-top: 50px;
}