
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
}
.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.header nav ul li a:hover {
  text-decoration: underline;
}

/* Conteúdo principal */
.main-container {
  display: flex;
  height: calc(100vh - 80px);
}

.image-section {
  width: 70%;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-section {
  width: 50%;
  background-color: #F9F9F9;
  color: #0B3C5D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.form-section h1 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #0B3C5D;
}

/* Botões de escolha */
.buttons {
  display: flex;
  gap: 40px;
}

.btn {
  background-color: #D9D9D9;
  padding: 40px;
  border-radius: 20px;
  text-decoration: none;
  color: #0B3C5D;
  font-weight: bold;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.btn:hover {
  transform: translateY(-5px);
}

.btn img {
  width: 50px;
  margin-bottom: 10px;
}

