* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--branco);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#imgassets {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.parent {
    display: flex;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: var(--cinza-mediano);
}

input {
    outline: none;
    background-color: #FEFEFE;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--cinza-escuro);
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    width: 400px;
    height: 60px;
    text-decoration: none;
}

::placeholder {
    color: var(--cinza-mediano);
    font-weight: lighter;
}

.inputs {
    margin-bottom: 10px;
}

.input-login {
    width: 340px;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    background: var(--azul-1);
    border-radius: 5px;
    color: var(--branco);
    text-align: center;
    padding: 20px;
    width: 60px;
    height: 60px;
    font-size: 20px;
}

#link {
    font-weight: bold;
    font-size: 16px;
    color: var(--azul-2);
    text-decoration: none;
}

#link:hover {
    text-decoration: underline;
}

.btn {
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 400px;
    height: 60px;
    font-size: 20px;
}

.btn-azul-1 {
    background-color: var(--azul-1);
    color: var(--branco);
}

.btn-azul-1:hover {
    background-color: var(--azul-1-hover);
    transition: 0.5s;
}

.btn-azul-2 {
    background-color: var(--azul-2);
    color: var(--branco);
}

.btn-azul-2:hover {
    background-color: var(--azul-2-hover);
    transition: 0.5s;
}

.btn-margin {
    margin-top: 20px;
}

.margin {
    margin-top: 50px;
}