* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--branco);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container-newplan {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    height: 1200px;
    gap: 200px;
}

.arrow {
    color: var(--azul-2);
    font-size: 45px;
}

h2 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 10px;
}

.h2-newplan {
    margin-bottom: 30px;
}

p {
    font-size: 16px;
    color: var(--cinza-mediano);
}

.p-newplan {
    margin-top: 20px;
}

input {
    outline: none;
    background-color: #FEFEFE;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--cinza-escuro);
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    width: 400px;
    height: 60px;
    text-decoration: none;
}

::placeholder {
    color: var(--cinza-mediano);
    font-weight: lighter;
}

.input-newplan {
    width: 900px;
}

.input-descricao {
    height: 150px;
}

.btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 60px;
    font-size: 20px;
}

.btn200 {
    width: 200px;
    border-radius: 5px;
}

.btn-azul-2 {
    background-color: var(--azul-2);
    color: var(--branco);
}

.btn-azul-2:hover {
    background-color: var(--azul-2-hover);
    transition: 0.5s;
}

.margin-newplan {
    margin-top: 30px;
}