#container-nav{
    background-color: var(--azul-2);
    color: var(--cinza-claro);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 3rem;
}

#container-nav>div{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.active{
    color: var(--cinza-claro);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    transition: border-bottom 0.1s ease; 
    border-bottom: 0 solid var(--cinza-claro);
    padding-bottom: 0.063rem;
}

.active:hover{
    border-bottom: 0.063rem solid var(--cinza-claro);
}

#container-img-header>img {
    width: 100%;
    height: auto; 
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#container-text-header {
    position: absolute;
    top: 20%;
    left: 55%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#container-text-header>h1 {
    color: var(--cinza);
    width: 530px;
    font-size: 42px;
    text-align: center;
}

#container-text-header>h3 {
    color: var(--cinza);
    width: 490px;
    font-size: 20px;
    text-align: center;
}

.button-landing-page {
    color: var(--branco);
    font-weight: 600;
    width: 389px;
    font-size: 32px;
    text-align: center;
    background-color: var(--azul-1);
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
}

.button-landing-page:hover {
    background-color: var(--azul-2);
    transition: 0.5s;
}

#container-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    flex-direction: column;
}

#container-title>h2{
   font-weight: 600;
}

#container-introduction>h3{
    width: 1160px;
    text-align: justify;
}

#container-introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

#container-card-introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card-introduction{
    background-color: var(--cinza-claro);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem 2rem;
    align-items: center;
    width: 25.75rem;
    height: 36.313rem;
    border-radius: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    gap: 4rem;
}

.card-introduction:hover {
    background-color: var(--cinza);
    transition: 0.5s;
}

.card-introduction>img{
   width: 21.349rem;
   height: 14.25rem;
}

.card-introduction>h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#container-button-introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

#container-cause{
    background-color: var(--cinza-claro);
    display: flex;  
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 80rem;
    text-align: center; 
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 2rem;
    padding: 4rem;
    text-align: justify;
    margin-bottom: 8rem;
}

 .footer {
    background-color: var(--azul-2);
    color: var(--branco);
    padding: 20px 0;
}
  
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px;
}
  
.social,
.logo,
.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }
  
.social-icons {
    display: flex;
    gap: 15px;
  }
  
.social a {
    color: var(--branco);
    font-size: 20px;
    transition: color 0.3s;
  }
  
.social a:hover {
    color: var(--branco);
  }
  
.social .copyright {
    font-size: 12px;
    margin-top: 10px;
  }
  
.logo {
    align-items: flex-end;
    justify-content: center;
    text-align: center;
  }
  
.logo img {
    width: 160px;
    height: auto;
    object-fit: contain;
  }
  
.contact {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
  
.contact-box {
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 1px solid var(--cinza-claro); 
    padding-left: 15px;
  }
  
.contact-box {
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 1px solid var(--cinza-claro);
    padding-left: 15px;
    min-height: 50px;
  }
  
.contact-text span {
    color: var(--azul-0);
    font-size: 14px;
  }
  
.contact-text a {
    color: var(--branco);
    text-decoration: none;
    font-size: 14px;
  }
  
.contact-text a:hover {
    text-decoration: underline;
  }
  
@media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .social, .logo, .contact {
      align-items: center;
      text-align: center;
    }
  
    .contact {
      justify-content: center;
    }
  
    .contact-box {
      border-left: none;
      padding-left: 0;
    }
}